hr {
    margin-bottom: 20px;
 }
  
table {
    background-color: #eee;
    width: 80%;
    border-collapse: collapse;
  }

table td {
    border: 1px solid #aaa;
    padding: 3px 2px;
}

table {
    margin: 10px 30px;
}
  
button, div, label, span, a, h1, h2, h3, h4 {
    afont-size: 14px;
    width: 120px;
    aheight: 80px;
    apadding: 10px;
    margin: 10px 30px;
    border: 1px solid red;
    font-family: arial;
}
  
.info {
    border: 0;
    margin: 10px 10px;
    border-bottom: 1px solid blue;
    width: 90%;
}
  
  