$clTextDefault: #fff;
$clBgDefault: #4397e8cc;
$clBrDefault: #ffffffcc;

$clTextPrimary: #fff;
$clBgPrimary: #0069d9;
$clBrPrimary: #0062cc;
$clTextSecondary: #fff;
$clBgSecondary: #6c757d;
$clBrSecondary: #6c757d;
$clTextSuccess: #fff;
$clBgSuccess: #28a745;
$clBrSuccess: #28a745;
$clTextDanger: #fff;
$clBgDanger: #dc3545;
$clBrDanger: #dc3545;
$clTextWarning: #212529;
$clBgWarning: #ffc107;
$clBrWarning: #ffc107;
$clTextInfo: #fff;
$clBgInfo: #17a2b8;
$clBrInfo: #17a2b8;
$clTextLight: #212529;
$clBgLight: #f8f9fa;
$clBrLight: #f8f9fa;
$clTextDark: #fff;
$clBgDark: #343a40;
$clBrDark: #343a40;

/*
  data-badge attribute
*/

.hasbadge[data-badge] {
  position: relative;
}

.hasbadge[data-badge]:before {
  content: attr(data-badge);
  position: absolute;
  font-size: 0.8em;
  min-width: 1em;
  padding: 1px 2px;
  line-height: 1em;
  text-align: center;
  display: block;
  border-radius: 25%;
  background: $clBgDefault;
  border: 1px solid $clBrDefault;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  color: $clTextDefault;
  right: -0.5em;
  top: -0.5em;
}

.hasbadge[data-badge].badge-outside:before {
  left: calc(100% - 2px);
  right: auto;
}

.hasbadge[data-badge].badge-top-left:before {
  top: -0.5em;
  left: -0.5em;
  right: auto;
}

.hasbadge[data-badge].badge-top-right:before {
  right: -0.5em;
  top: -0.5em;
}

.hasbadge[data-badge].badge-bottom-right:before {
  left: auto;
  top: auto;
  right: -0.5em;
  bottom: -0.5em;
}

.hasbadge[data-badge].badge-bottom-left:before {
  top: auto;
  bottom: -0.5em;
  left: -0.5em;
  right: auto;
}

.hasbadge[data-badge].badge-top-left.badge-outside:before {
  left: auto;
  right: calc(100% - 2px);
}

.hasbadge[data-badge].badge-top-right.badge-outside:before {
  left: calc(100% - 2px);
  right: auto;
}

.hasbadge[data-badge].badge-bottom-right.badge-outside:before {
  left: calc(100% - 2px);
  right: auto;
}

.hasbadge[data-badge].badge-bottom-left.badge-outside:before {
  left: auto;
  right: calc(100% - 2px);
}

.hasbadge[data-badge].badge-inside:before {
  right: 2px;
  top: 2px;
}

.hasbadge[data-badge].badge-top-left.badge-inside:before {
  top: 2px;
  left: 2px;
  right: auto;
}

.hasbadge[data-badge].badge-top-right.badge-inside:before {
  right: 2px;
  top: 2px;
}

.hasbadge[data-badge].badge-bottom-right.badge-inside:before {
  right: 2px;
  bottom: 2px;
  top: auto;
}

.hasbadge[data-badge].badge-bottom-left.badge-inside:before {
  bottom: 2px;
  left: 2px;
  right: auto;
  top: auto;
}

.hasbadge[data-badge].badge-right-center:before {
  left: auto;
  right: -2px;
  top: calc(50% - 0.5em);
  bottom: auto;
}

.hasbadge[data-badge].badge-left-center:before {
  left: -2px;
  right: auto;
  top: calc(50% - 0.5em);
}

.hasbadge[data-badge].badge-right-center.badge-outside:before {
  left: calc(100% - 2px);
  right: auto;
  top: calc(50% - 0.5em);
}

.hasbadge[data-badge].badge-left-center.badge-outside:before {
  left: auto;
  top: calc(50% - 0.5em);
  right: calc(100% - 2px);
}

.hasbadge[data-badge].badge-right-center.badge-inside:before {
  right: 2px;
}

.hasbadge[data-badge].badge-left-center.badge-inside:before {
  left: 2px;
}

.hasbadge[data-badge].badge-bottom:before {
  top: auto;
  bottom: -0.5em;
  left: -0.5em;
}

.hasbadge[data-badge].badge-top:before {
  left: -0.5em;
}

.hasbadge[data-badge].badge-left:before {
  left: -0.5em;
  bottom: -0.5em;
  right: auto;
  display: flex;
  line-height: 100%;
  align-items: center;
}

.hasbadge[data-badge].badge-right:before {
  bottom: -0.5em;
  display: flex;
  line-height: 100%;
  align-items: center;
}

.hasbadge[data-badge].badge-left.badge-outside:before {
  left: auto;
  right: calc(100% - 2px);
  bottom: -0.5em;
}

.hasbadge[data-badge].badge-top.badge-outside:before {
  right: -0.5em;
  bottom: calc(100% - 2px);
  top: auto;
}

.hasbadge[data-badge].badge-bottom.badge-outside:before {
  right: -0.5em;
  bottom: auto;
  top: calc(100% - 2px);
}

.hasbadge[data-badge].badge-bottom.badge-inside:before {
  bottom: 2px;
  left: 2px;
}

.hasbadge[data-badge].badge-top.badge-inside:before {
  left: 2px;
}

.hasbadge[data-badge].badge-left.badge-inside:before {
  left: 2px;
  bottom: 2px;
}

.hasbadge[data-badge].badge-right.badge-inside:before {
  bottom: 2px;
}

.hasbadge[data-badge].badge-primary:before {
  color: $clTextPrimary;
  background-color: $clBgPrimary;
  border-color: $clBrPrimary;
}

.hasbadge[data-badge].badge-primary.badge-inverse:before {
  color: $clBgPrimary;
  background-color: $clTextPrimary;
  border-color: $clBrPrimary;
}

.hasbadge[data-badge].badge-secondary:before {
  color: $clTextSecondary;
  background-color: $clBgSecondary;
  border-color: $clBrSecondary;
}

.hasbadge[data-badge].badge-secondary.badge-inverse:before {
  color: $clBgSecondary;
  background-color: $clTextSecondary;
}

.hasbadge[data-badge].badge-success:before {
  color: $clTextSuccess;
  background-color: $clBgSuccess;
  border-color: $clBrSuccess;
}

.hasbadge[data-badge].badge-success.badge-inverse:before {
  color: $clBgSuccess;
  background-color: $clTextSuccess;
}

.hasbadge[data-badge].badge-danger:before {
  color: $clTextDanger;
  background-color: $clBgDanger;
  border-color: $clBrDanger;
}

.hasbadge[data-badge].badge-danger.badge-inverse:before {
  color: $clBgDanger;
  background-color: $clTextDanger;
}

.hasbadge[data-badge].badge-warning:before {
  color: $clTextWarning;
  background-color: $clBgWarning;
  border-color: $clBrWarning;
}

.hasbadge[data-badge].badge-warning.badge-inverse:before {
  color: $clBgWarning;
  background-color: $clTextWarning;
}

.hasbadge[data-badge].badge-info:before {
  color: $clTextInfo;
  background-color: $clBgInfo;
  border-color: $clBrInfo;
}

.hasbadge[data-badge].badge-info.badge-inverse:before {
  color: $clBgInfo;
  background-color: $clTextInfo;
}

.hasbadge[data-badge].badge-light:before {
  color: $clTextLight;
  background-color: $clBgLight;
  border-color: $clBrLight;
}

.hasbadge[data-badge].badge-light.badge-inverse:before {
  color: $clBgLight;
  background-color: $clTextLight;
}

.hasbadge[data-badge].badge-dark:before {
  color: $clTextDark;
  background-color: $clBgDark;
  border-color: $clBrDark;
}

.hasbadge[data-badge].badge-dark.badge-inverse:before {
  color: $clBgDark;
  background-color: $clTextDark;
}

.hasbadge[data-badge].badge-noborder:before {
  border: none;
}

.hasbadge[data-badge].badge-noshadow:before {
  box-shadow: none;
}

.hasbadge[data-badge].badge-circled:before {
  border-radius: 50%;
}

.hasbadge[data-badge].badge-squared:before {
  border-radius: 0;
}

.hasbadge[data-badge].badge-l:before {
  font-size: 0.95em;
}

.hasbadge[data-badge].badge-xl:before {
  font-size: 1em;
}

.hasbadge[data-badge].badge-xxl:before {
  font-size: 1.1em;
}

.hasbadge[data-badge].badge-s:before {
  font-size: 0.75em;
}

.hasbadge[data-badge].badge-xs:before {
  font-size: 0.7em;
}

.hasbadge[data-badge].badge-xxs:before {
  font-size: 0.5em;
}

.hasbadge[data-badge=""]:before {
  content: none;
}

.hasbadge[data-badge].badge-dot:before {
  font-family: "Font Awesome 5 Free";
  content: '\F111';
  font-weight: 900;
}

/*
  class .badge
*/

.badge {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  aheight: 1.2em;
  line-height: normal;
  border: 1px solid;
  border-radius: .8em;
  font-size: .5em;
  padding: 0.1em 0.7em;
  margin-right: .3em;
  margin-left: .3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.badge.badge-top {
  vertical-align: super;
  align-self: self-start;
}

.badge.badge-noborder {
  border: none;
}

.badge.badge-noshadow {
  box-shadow: none;
}

.badge.badge-circled {
  border-radius: 50%;
}

.badge.badge-squared {
  border-radius: 0;
}

.badge.badge-dot:before {
  font-family: "Font Awesome 5 Free";
  content: '\F111';
  font-weight: 900;
}

.badge.badge-dot {
  padding: 0.1em;
}

.badge.badge-xxl {
  font-size: 0.7em;
}

.badge.badge-xl {
  font-size: .6em;
}

.badge.badge-l {
  font-size: .55em;
}

.badge.badge-s {
  font-size: .45em;
}

.badge.badge-xs {
  font-size: .4em;
}

.badge.badge-xxs {
  font-size: .35em;
}

.badge {
  background: $clBgDefault;
  color: $clTextDefault;
  border-color: $clBrDefault;
}

.badge.badge-primary {
  background: $clBgPrimary;
  color: $clTextPrimary;
  border-color: $clBrPrimary;
}

.badge.badge-primary.badge-inverse {
  background: $clTextPrimary;
  color: $clBgPrimary;
  border-color: $clBgPrimary;
}

.badge.badge-secondary {
  background: $clBgSecondary;
  color: $clTextSecondary;
  border-color: $clBrSecondary;
}

.badge.badge-secondary.badge-inverse {
  background: $clTextSecondary;
  color: $clBgSecondary;
  border-color: $clBgSecondary;
}

.badge.badge-success {
  background: $clBgSuccess;
  color: $clTextSuccess;
  border-color: $clBrSuccess;
}

.badge.badge-success.badge-inverse {
  background: $clTextSuccess;
  color: $clBgSuccess;
  border-color: $clBgSuccess;
}

.badge.badge-danger {
  background: $clBgDanger;
  color: $clTextDanger;
  border-color: $clBrDanger;
}

.badge.badge-danger.badge-inverse {
  background: $clTextDanger;
  color: $clBgDanger;
  border-color: $clBgDanger;
}

.badge.badge-warning {
  background: $clBgWarning;
  color: $clTextWarning;
  border-color: $clBrWarning;
}

.badge.badge-warning.badge-inverse {
  background: $clTextWarning;
  color: $clBgWarning;
}

.badge.badge-info {
  background: $clBgInfo;
  color: $clTextInfo;
  border-color: $clBrInfo;
}

.badge.badge-info.badge-inverse {
  background: $clTextInfo;
  color: $clBgInfo;
  border-color: $clBgInfo;
}

.badge.badge-light {
  background: $clBgLight;
  color: $clTextLight;
  border-color: $clBrLight;
}

.badge.badge-light.badge-inverse {
  background: $clTextLight;
  color: $clBgLight;
  border-color: $clBgLight;
}

.badge.badge-dark {
  background: $clBgDark;
  color: $clTextDark;
  border-color: $clBrDark;
}

.badge.badge-dark.badge-inverse {
  background: $clTextDark;
  color: $clBgDark;
  border-color: $clBgDark;
}
